[paths]
source =
   src
   */site-packages

[run]
branch = true
parallel = true
source =
    sc3nb

[report]
show_missing = true
precision = 2
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    def __repr__
    raise NotImplementedError
