include tox.ini
include LICENSE

include *.txt
include *.yaml

recursive-include sc3nb *.scsyndef

recursive-include tests *.py

recursive-include sccode *.scd

recursive-include examples *.ipynb
recursive-include examples *.wav
recursive-exclude examples .ipynb_checkpoints/*.ipynb

recursive-include docs Makefile
recursive-include docs *.bat
recursive-include docs *.css
recursive-include docs *.py
recursive-include docs *.rst
recursive-exclude docs/build *
